<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<%= phrase('Send us a message for a quick reply') %>
<p>Send us a message for a quick reply
  <a href="http://railstutorial.org/">Send an Email</a>
</p>

