<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
  Download our help tutorial at
  <a href="http://railstutorial.org/help">Tutorial.pdf</a>.
  To get help in our forum, please visit
  <a href="http://railstutorial.org/book">Forum Help</a>.
</p>
